@model IEnumerable<_20GRPED.MVC1.TP2.Models.CalculatorModel>

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<p>
    <a asp-action="Index">Back to List</a>
</p>
<p>
    Filters:
</p>
<a asp-action="History" asp-route-operator="+" class="btn btn-primary">+</a>
<a asp-action="History" asp-route-operator="-" class="btn btn-primary">-</a>
<a asp-action="History" asp-route-operator="/" class="btn btn-primary">/</a>
<a asp-action="History" asp-route-operator="*" class="btn btn-primary">*</a>
<a asp-action="History" class="btn btn-primary">Clear Filter</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Left)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Right)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
