@model _20GRPED.MVC1.TP2.Models.CalculatorIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>CalculatorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="calculatorForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CalculatorModel.Left" class="control-label"></label>
                <input asp-for="CalculatorModel.Left" class="form-control" />
                <span asp-validation-for="CalculatorModel.Left" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalculatorModel.Right" class="control-label"></label>
                <input asp-for="CalculatorModel.Right" class="form-control" />
                <span asp-validation-for="CalculatorModel.Right" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*Múltiplos submits por form é um recurso recente*@
                <input type="submit" form="calculatorForm" asp-action="Add" value="+" class="btn btn-primary" />
                <input type="submit" form="calculatorForm" asp-action="Divide" value="/" class="btn btn-primary" />
                <input type="submit" form="calculatorForm" asp-action="Subtract" value="-" class="btn btn-primary" />
                <input type="submit" form="calculatorForm" asp-action="Multiply" value="*" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CalculatorModel.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CalculatorModel.Operator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CalculatorModel.Left)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CalculatorModel.Right)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CalculatorModel.Result)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CalculatorModel.Hora)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.History)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Operator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Left)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Right)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="History">Show History</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
